* {
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    border: double;
    width: auto;
}

h1 {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    background: rgb(249, 249, 249);
}

p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: rgb(219, 108, 108);
}

.fundodaopcao label {
    background: rgb(134, 213, 213);
    font-weight: bold;
}

img {
    width: 15%;
    transition: 1.3s;
    margin: 0 auto;
}

img:hover {
    transform:scale(1.3);
}

form {
    margin-left: auto;
    display: block;
    border: groove;
    border-width: 10px;
    width: 45%;
    background: rgb(220, 173, 148);
}

li {
    list-style: none;
}

.genero {
    width: 20%;
    padding: 11.1px;
}

select {
    width: 80%;
}

.input-padrao {
    display: inline-block;
    width: 61%;
    padding: 12px;
    font-size: 17px;
    font-weight: bold;
    margin: 0 30px 0 0;
}

.ocultar-link:link {
    color: black;
    text-decoration: none;
}

.ocultar-link:visited {
    color: black;
    text-decoration: none; 
}

#hora {
    width: 17.8%;
    padding: 5.5px;
}

#nome {
    width: 82%;
    padding: 6.8px;
}

#data-de-nascimento {
    width: 27%;
    padding: 5.5px;
}

#idade {
    width: 15%;
    padding: 7.2px; 
}

#rg {
    width: 19%;
    padding: 7.5px;   
}

#telefone {
    width: 25%;
    padding: 6.3px;
}

#email {
    width: 82.5%;
    padding: 6.3px;
}

#sintomas {
    width: 77.5%;
    padding: 5.5px;
}

#exames {
    background:rgb(249, 249, 249);
    border: groove;
    padding: 5.5px;
}

.medidor {
    width: 100%; 
}

.descricao-dor {
    background:rgb(134, 213, 213)
}

.numeracao-dor {
    width: 100%;
    background: white;
}

.obs {
    background:rgb(134, 213, 213);
}

.enviar {
    border: groove;
    border-width: 5px;
    transition: 1.3s;
    background: rgb(219, 108, 108);
    padding: 10px;
    border: groove;
    border-width: 6px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.enviar:hover {
    transform:scale(1.04);
    background:rgb(76, 209, 64);
    text-decoration: crimson;
}

@media screen and (max-width: 480px) {
	.principal, .input-padrao, .fundodaopcao, .medidor, .enviar {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}  