* {
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    border: double;
    width: auto;
}

h1 {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    background: rgb(249, 249, 249);
}

p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: rgb(219, 108, 108);
}

.fundodaopcao label {
    background: rgb(134, 213, 213);
    font-weight: bold;
}

img {
    width: 15%;
    transition: 1.3s;
    margin: 0 auto;
}

img:hover {
    transform:scale(1.07);
}

form {
    margin-left: auto;
    display: block;
    border: groove;
    border-width: 10px;
    width: 45%;
    background: rgb(220, 173, 148);
}

li {
    list-style: none;
}

select {
    width: 80%;
}

.input-padrao {
    display: inline-block;
    width: 61%;
    padding: 12px;
    font-size: 17px;
    font-weight: bold;
    margin: 0 30px 0 0;
}

#hora {
    width: 17.8%;
}

#nome {
    width: 82%;
}

#data-de-nascimento {
    width: 30%;
}

#idade {
    width: 82%; 
}

#telefone {
    width: 78.5%;
}

#email {
    width: 82.5%;
}

#sintomas {
    width: 77%;
}

#exames {
    background:rgb(249, 249, 249);
    border: groove;
}

.medidor {
    width: 100%; 
}

.descricao-dor {
    background:rgb(134, 213, 213)
}

.numeracao-dor {
    width: 100%;
    background: white;
}

.obs {
    background:rgb(134, 213, 213)
}

.enviar {
    border: groove;
    
    border-width: 5px;
    transition: 1.3s;
    background: rgb(219, 108, 108);
    padding: 10px;
    border: groove;
    border-width: 6px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.enviar:hover {
    transform:scale(1.04);
    color:rgb(232, 236, 21);
    transform: uppercase;
}

@media screen and (max-width: 480px) {
	.principal, .input-padrao, .fundodaopcao, .medidor, .enviar {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}  